.inicio1 {
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
}

.inicio-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 46px;
    width: 100%;
    padding-right: 18px;
    margin: 10px 0 20px 0;
}

.inicio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18,8px;
}

.inicio-text li {
    padding: 4px 0;
}

.btn-inicio {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #2B80FF;
    border: none;
    border-radius: 16px;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 14px;
    cursor: pointer;
    width: fit-content;
}   

.left {
    align-self: flex-start;
}

.right {
    align-self: flex-start;
}

.title2-center {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    align-self: center;
    text-align: center;
}

.title2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    align-self: flex-start;
}

.text-part {
    flex-basis: 50%;
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}    

.img-part {
    flex-basis: 50%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.img-inicio {
    max-width: 100%;
}

@media (min-width: 1024px) {
    .inicio1 {
        display: flex;
        flex-direction: row;
        gap: 160px;
    }
    .inicio-title {
        font-weight: 700;
        font-size: 82px;
        line-height: 70px;
        padding-right: 0;
        margin: 18px 0;
    }
    .inicio-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 14px;
    }
    .btn-inicio {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        background-color: #2B80FF;
        border: none;
        border-radius: 16px;
        padding: 8px;
        margin-bottom: 20px;
        cursor: pointer;
    }    
    .title2-center {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        align-self: center;
        text-align: center;
    }    
    .title2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;    
        align-self: flex-start;
    }
    .right {
        align-self: flex-end;
        text-align: right;
    }
    .text-part {
        padding-left: 25px;
        padding-bottom: 10px;
        padding-top: 18px;
    }    

}

.tecno {
    display: flex;
    justify-content: center;
}

.tecno-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.tecno-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 3px;
}

.tecno-text {
    font-weight: 400;
    font-size: 16;
    line-height: 19px;
}

.tecno-img {
    max-width: 100%;
    padding-bottom: 52px;
}

.title-herramientas {
    font-size: 28px;
    font-weight: 700;
    padding-top: 36px;
    text-align: center;
    margin: 20px 0;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}

hr {
    display: none;
}

.option-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 50%;
    width: 100%;
    position: relative;
}

.buy-now-logo {
    height: 70px;
    align-self: flex-start;
}

.option-foto {
    flex-basis: 50%;
}

.max-width-100 {
    max-width: 100%;
}

@media (min-width: 1024px) {
    .tecno-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
    }    
    .tecno-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }    
    .options {
        flex-direction: row;
        padding-top: 30px;
        padding-bottom: 55px;    
    }
    .hr-left {
        display: block;
        width: 398px;
        border: 1px solid #0808FC;
        position: absolute; 
        top: 430px;   
    }
    .hr-right {
        display: block;
        width: 398px;
        border: 1px solid #0808FC;
        position: absolute; 
        top: 360px;
        right: 1px;
    }
    .title-herramientas {
        font-size: 38px;
    }
}

.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.title1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #2B80FF;
}

.partners-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 35px;
}

.img-partner {
    max-width: 200px;
    max-height: 40px;
}

.testimonios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 36px;
}

.testimonios-quotes {
    display: flex;
    margin-top: 70px;
}

.testimonio1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
}

.testimonio-foto {
    position: absolute;
    top: -70px;
}

.testimonio-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.testimonio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-top: 27px;
}

.text2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 18,8px;
    margin-bottom: 8px;
    text-align: justify;
}

.text2-bold {
    font-weight: bold;
    margin-top: 4px;
}

@media (min-width: 1024px) {
    .text2, .text2-lista li {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }    
}

.text2-lista {
    padding-bottom: 42px;
}


.text1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.text2-testimonio {
    padding: 8px 18px;
}

.plataforma {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.plataforma-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    flex: 3;
    padding-bottom: 44px;
}

.plataforma-foto {
    max-width: 100%;
}

.plataforma-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

@media (min-width: 1024px) {
    .plataforma-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
    }    
}

.trazado {
    display: none;
    align-items: end;
    flex: 1;
}

@media (min-width: 1024px) {
    .trazado {
        display: flex;
    }
}

.trazado-foto {
    width: 100%;
}


