<section class="wrapper">
    <div class="container-gradient-blue">
        <div class="width1600">
            <div class="inicio1">
                <div class="text-part">
                    <h1 class="inicio-title">Toma el control de tus ventas</h1>
                    <ul class="inicio-text">
                        <li>Protege tu marca</li>
                        <li>Aumenta Ventas</li>
                        <li>Mejora la experiencia del cliente</li>
                    </ul>
                    <button class="btn-inicio"><a class="btn-inicio" href="https://reuniones.clientify.com/#/Josepiquer/tech" target="_blank">Habla con un experto</a></button>
                </div>
                <div class="img-part">
                    <img class="img-inicio" src="/assets/inicio/control_ventas.png" alt="foto control_ventas">
                </div>    
            </div>        
        </div>
    </div>
</section>
<section class="wrapper">
    <div class="container">
        <div class="width1600">
            <div class="tecno">
                <div class="tecno-service">
                    <h4 class="tecno-title">La técnología a servicio de la industria farmacéutica</h4>
                    <p class="tecno-text">Nuestras herramientas te permitirán controlar tu marca en el mundo digital y poder tomar decisiones más efectivas.</p>
                    <img class="tecno-img" src="/assets/inicio/tecno_servicio.png" alt="foto tecno_servicio">
                </div>    
            </div>    
        </div>
    </div>
</section>
<section class="wrapper">
    <div class="container-color">
        <div class="width1600">
            <h4 class="title-herramientas">Nuestras herramientas:</h4>
            <div class="options">
                <div class="option-info">
                    <img src="/assets/inicio/buyNow.png" alt="logo buyNow" class="mobile-no buy-now-logo">
                    <h4 class="title2">La Solución que permite que tu marca se pueda comprar desde la web de tu laboratorio</h4>
                    <img src="/assets/inicio/buyNow.png" alt="logo buyNow" class="desktop-no buy-now-logo">
                    <img src="/assets/inicio/tablet.png" alt="foto tablet" class="desktop-no">
                    <p class="text2">Vende online tus productos de la mano de las farmacias que compran y recomiendan tu marca a través de la web del laboratorio, de las webs de las farmacias y de nuestros marketplace: Farmacias.com y Farmacias.es.</p>
                    <p class="text2-bold">Llegamos a miles de farmacias, tu marcas las reglas: farmacias por cercanía, stock mínimo, precio oficial…</p>    
                    <button class="btn-inicio left"><a class="btn-inicio left" href="https://reuniones.clientify.com/#/Josepiquer/tech" target="_blank">Habla con un experto</a></button>
                    <hr class="hr-left">
                </div>
                <div class="option-foto">
                    <img src="/assets/inicio/tablet.png" alt="foto tablet" class="mobile-no max-width-100">
                </div>    
            </div>
            <div class="options">
                <div class="option-foto">
                    <img src="/assets/inicio/movil.png" alt="foto movil" class="mobile-no max-width-100">
                </div>    
                <div class="option-info">
                    <h4 class="title2 right">Monitoriza tu marca</h4>
                    <img src="/assets/inicio/movil.png" alt="foto movil" class="desktop-no">
                    <p class="text2 right">Servicios basados en el análisis anónimo de nuestro Big Data que te permite profundizar en el conocimiento del mercado en tiempo real. <br>Ofrecemos herramientas basadas en paneles de gestión que permiten entre otros el Análisis del Sell in y Sell Out, análisis de precios, cuotas de mercado, tipologías de consumidor, canales de venta… </p>
                    <button class="btn-inicio right" [routerLink]=""><a class="btn-inicio right" href="https://reuniones.clientify.com/#/Josepiquer/tech" target="_blank">Habla con un experto</a></button>
                    <hr class="hr-right">
                </div>
            </div>
            <div class="options">
                <div class="option-info">
                    <h4 class="title2">Potencia tu marca con campañas B2B y B2C</h4>
                    <img src="/assets/inicio/Station.png" alt="foto desktop" class="desktop-no">
                    <p class="text2">Aprovecha la potencia de nuestras plataformas Farmacias.com y Farmacias.es para llevar tu marca a tu público objetivo.</p>
                    <p class="text2">Llega a miles de clientes, llega a miles de farmacias:</p>
                        <div class="text2-lista">
                            <li> Patrocinio de nuestras plataformas</li>
                            <li> Inserciones en nuestras Newsletter y Redes Sociales</li>
                            <li> Campañas directas a nuestras bases de datos</li>    
                        </div>
                    <button class="btn-inicio left"><a class="btn-inicio left" href="https://reuniones.clientify.com/#/Josepiquer/tech" target="_blank">Habla con un experto</a></button>
                </div>
                <div class="option-foto">
                    <img src="/assets/inicio/Station.png" alt="foto desktop" class="mobile-no max-width-100" style="max-width: 100%">
                </div>    
            </div>        
        </div>
    </div>
</section>
<aside class="wrapper">
    <div class="container">
        <div class="width1600">
            <div class="partners">
                <h4 class="title2-center">Colaboramos con marcas alucinantes:</h4>
                <div class="partners-logos">
                    <img class="img-partner" src="/assets/partners/bida.png" alt="bida logo">
                    <img class="img-partner" src="/assets/partners/farmaceuticos.png" alt="farmaceuticos logo">
                    <img class="img-partner" src="/assets/partners/google.png" alt="google logo">
                    <img class="img-partner" src="/assets/partners/redEs.png" alt="redes logo">
                    <img class="img-partner" src="/assets/partners/nostic.png" alt="nostic logo">
                    <img class="img-partner" src="/assets/partners/unycop.png" alt="unycop">
                    <img class="img-partner" src="/assets/partners/glint.png" alt="glint logo">
                    <img class="img-partner" src="/assets/partners/alliance.png" alt="alliance logo">
                </div>
            </div>        
        </div>
    </div>
</aside>
<aside class="wrapper">
    <div class="container-color">
        <div class="width1600">
            <div class="testimonios">
                <h4 class="title2-center">¿Qué piensan nuestros clientes?</h4>
                <div class="testimonios-quotes">
                    <div class="testimonio1">
                        <div class="testimonio-foto">
                            <img src="/assets/inicio/testimonio_sandoz.png" alt="foto testimonio">
                        </div>
                        <div class="testimonio-text">
                            <h5 class="testimonio-name">Joaquín Rodrigo</h5>
                            <p class="text1">CEO Sandoz Iberica</p>
                            <p class="text2-testimonio">“Nos permite identificar nuevas oportunidades de negocio”</p>        
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</aside>
<section class="wrapper">
    <div class="container">
        <div class="width1600">
            <div class="plataforma">
                <div class="plataforma-img">
                    <h4 class="plataforma-title">¿Te gustaría ser el siguiente?</h4>
                    <button class="btn-inicio" [routerLink]=""><a class="btn-inicio" href="https://reuniones.clientify.com/#/Josepiquer/tech" target="_blank">Habla con un experto</a></button>
                </div>
            </div>        
        </div>
    </div>
</section>

