<section class="wrapper">
    <div class="container-naranja">
        <div class="width1600">
            <div class="buynow-importancia">
                <div class="text-part">
                    <h1 class="title1"><span class="title1-buy">buy</span><span class="title1-now">now</span>, la importancia de las farmacias en la compra</h1>
                    <p class="text1">Vende online tus productos de la mano de las farmacias que compran y recomiendan tu laboratorio. A través de la web del laboratorio, de las webs de las farmacias y de nuestros marketplace: Farmacias.com y Farmacias.es</p>
                    <div class="btns-buynow">
                        <button class="btn-buynow" type="button">Habla con un experto</button>
                        <button class="btn-buynow" type="button">Solicita una demo</button>        
                    </div>
                </div>
                <div class="img-part">
                    <img class="img-importancia" src="/assets/buynow/img-importancia.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="wrapper">
        <div class="container">
            <div class="width1600">
                <div class="buynow-como">
                    <div class="como-hacemos">
                        <div class="como-title">
                            <span class="title-como-fino">¿Cómo lo</span>
                            <span class="title-como">hacemos?</span>
                            <img class="cesta-como" src="/assets/buynow/cesta.png" alt="cesta">    
                        </div>
                    </div>
                    <hr class="mobile-no">
                </div>
                <div class="pasos">
                    <div class="img-part desktop-no">
                        <img class="img-buynow" src="/assets/buynow/hombre.png" alt="imagen-hombre">
                    </div>
                    <div class="text-part-como">
                        <h1 class="title-paso">1</h1>
                        <h3 class="title2">Acuerdos estratégicos <span class="title-bold">con las farmacias</span></h3>
                        <p class="text1">Llegamos a miles de farmacias, tu marcas las reglas: <span class="title-bold">farmacias por cercanía, stock mínimo, precio oficial…</span></p>    
                    </div>
                    <div class="img-part mobile-no">
                        <img class="img-buynow" src="/assets/buynow/hombre.png" alt="imagen-hombre">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-color">
            <div class="width1600">
                <div class="pasos">
                    <div class="img-part">
                        <img class="img-buynow" src="/assets/buynow/Logo-Hefadi.png" alt="Logo-Hefadi">
                    </div>
                    <div class="text-part-como">
                        <h1 class="title-paso">2</h1>
                        <h3 class="title2"><span class="title-bold">Integración</span>, ser parte de un <span class="title-bold">proyecto digital</span></h3>
                        <p class="text1">Conexión con los <span class="title-bold">ERP</span> de las farmacias <span class="title-bold">en tiempo real</span>, fácil para el sector. Fácil para el laboratorio, fácil para tu equipo comercial.</p>    
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="width1600">
                <div class="pasos">
                    <div class="img-part desktop-no">
                        <img class="img-buynow" src="/assets/buynow/Infografia-de-envio.png" alt="imagen-hombre">
                    </div>
                    <div class="text-part-como">
                        <h1 class="title-paso">3</h1>
                        <h3 class="title2">Envío o recogida en <span class="title-bold"> la farmacia de confianza</span></h3>
                        <p class="text1">Todas las ventas de tus <span class="title-bold">productos dispensadas a través de las farmacias</span> que potencian tus marcas.</p>    
                    </div>
                    <div class="img-part mobile-no">
                        <img class="img-buynow" src="/assets/buynow/Infografia-de-envio.png" alt="imagen-hombre">
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-color">
            <div class="width1600">
                <div class="pasos">
                    <div class="img-part">
                        <img class="img-buynow" src="/assets/buynow/desktop.png" alt="Logo-Hefadi">
                    </div>
                    <div class="text-part-como">
                        <h1 class="title-paso">4</h1>
                        <h3 class="title2"><span class="title-bold">Seguimiento</span>, #Transparencia # Trazabilidad</h3>
                        <p class="text1">Conexión con los <span class="title-bold">ERP</span> de las farmacias <span class="title-bold">en tiempo real</span>, fácil para el sector. Fácil para el laboratorio, fácil para tu equipo comercial.</p>    
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>
<section class="wrapper">
    <div class="container">
        <div class="width1600">
            <div class="app">
                <div class="app-cesta">
                    <span class="buynow-app">buy now</span>
                    <span class="title-app">la aplicación</span>     
                    <img class="cesta-app" src="/assets/buynow/cesta.png" alt="cesta">    
                </div>
            </div>
            <div class="app-imgs">
                <div class="app-img-card">
                    <img class="pic" src="/assets/buynow/Aplicacion-01.png" alt="app-image">
                    <p class="img-text"><span style="color: #F7931E;">En la web de tu laboratorio</span>, landings y campañas de mail marketing</p>
                </div>
                <div class="app-img-card">
                    <img class="pic" src="/assets/buynow/Aplicacion-02.png" alt="app-image">
                    <p class="img-text"><span style="color: #F7931E;">La farmacia</span> siempre tu mejor partner preescriptor</p>
                </div>
                <div class="app-img-card">
                    <img class="pic" src="/assets/buynow/Aplicacion-03.png" alt="app-image">
                    <p class="img-text down">La farmacia siempre a tu <span style="color: #F7931E;">lado y el de los pacientes</span></p>
                </div>
            </div>
            <div class="btns-app">
                <button class="btn-app" type="button">Habla con un experto</button>
                <button class="btn-app" type="button">Solicita una demo</button>        
            </div>
        </div>
    </div>
</section>


