.hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    width: 32px;
    background: none;
    border: none;
    cursor: pointer;

}
  
.hamburger-bar {
    width: 24px;
    height: 2px;
    background-color: #A6A7AA;
}

.hamburger-button-close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 32px;
    background: none;
    border: none;
    cursor: pointer;
}
  
.close-btn {
    font-size: 32px;
    line-height: 32px;
    color: #2B2D58; 
}

.is-open {
    position: absolute;
    right: 0;
    width: 100%;
    top: 91px;
}

.is-banner-closed {
    top: 51px;
}

a {
    text-decoration: none;
    color: #3A56FF;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 100%;
    background-color: white;
    font-size: 20px;
    padding-top: 11px;
    padding-bottom: 37px;
    padding-left: 0;
    cursor: pointer;
}

.li-btn-contactanos {
    padding-bottom: 18px;
}

.btn-contactanos {
    border: 2px solid;
    background-color: white;
    color: #2C2E58;
    border-radius: 16px;
    padding: 8px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.btn-login {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.text2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #3A56FF;
    padding-left: 25px;
}
.submenu {
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #3A56FF;
    padding-left: 53px;
}

.servicios-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px #3A56FF;
    padding-right: 38px;
    align-items: center;
}

.flecha-abajo {
    height: 14px;
}

.border {
    border-bottom: #3A56FF 1px solid;
    padding-bottom: 11px;
}

.btn-hamburger {
    display: flex;
    justify-content: center;
}

.saber-mas {
    margin-top: 34px;
    margin-bottom: 7px;
}

.btn-hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background: #2B80FF;
    border-radius: 12px;
    align-self: center;
    height: 29px;
    border: 1px solid #2B80FF;
    cursor: pointer;
}

.btn-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 4px 14px 6px 15px;
}

.link-selected {
    color: #2C2E58;
}
