<div class="wrapper">
  <div class="width1600">
    <div class="main-content">
      <section class="container">
        <div class="main-title">
          <h2>Avíso Legal</h2>
        </div>
        <div>
          <h3 class="policy-title">1. Titularidad del sitio web.</h3>
          <p>
            En cumplimiento de la Ley 34/2002 de Servicios de la Sociedad de la
            Información y de Comercio Electrónico (comúnmente conocida como
            LSSI-CE), FARMACTITUD S. L pone en conocimiento de todos los
            lectores y usuarios que el contenido del dominio
            <a href="www.farmacias.tech">www.farmacias.tech</a>
            y sus subdominios son responsabilidad de:
          </p>
          <p>FARMACTITUD S. L.</p>
          <p>CIF: B04796751</p>
          <p>Paseo de los Robles 2, 3 - 2, 04720 Aguadulce, Almería</p>
          <p>Teléfono de contacto: 950 38 78 68</p>
          <p>Correo electrónico: info@farmacias.tech</p>

          <p>
            Inscrita en el Registro Mercantil de Almería, Tomo 1.651 de
            Sociedades, Folio 89, Hoja AL-43109, inscripción 1º. Todos los
            derechos reservados
          </p>
        </div>
        <div>
          <h3 class="policy-title">2. Términos y Condiciones de uso.</h3>
          <p>
            El usuario accede voluntariamente a este sitio web. El acceso y
            navegación en este sitio web implica aceptar y conocer las
            advertencias legales, condiciones y términos de uso contenidos en
            ella. El mero acceso no implica el establecimiento de ningún tipo de
            relación comercial entre FARMACTITUD S. L, y el usuario del Portal.
            La información suministrada en nuestra página web tiene como
            finalidad facilitar el conocimiento por parte de los usuarios de las
            actividades y de los servicios que presta FARMACTITUD S. L. Este se
            reserva el derecho de efectuar, en cualquier momento y sin previo
            aviso, cuantas modificaciones, variaciones, supresiones o
            cancelaciones en los contenidos y en la forma de presentación de los
            mismos que considere necesarias, ya sea de forma temporal o
            definitiva, debiendo asegurarse el usuario de utilizar en cada
            momento la versión actualizada. Esta facultad no otorga a los
            usuarios ningún derecho a percibir indemnización por daños y
            perjuicios.
          </p>
          <p>
            Los usuarios deberán tener al menos 14 años para poder registrase en
            la Página Web. No está permitido el uso de cualquiera de los
            servicios ofrecidos en la Página Web para menores de 14 años sin la
            autorización de sus padres o tutores legales. En caso de detectar el
            registro de algún usuario menor de 14 años, FARMACTITUD S. L
            eliminará toda la información por él aportada, cancelando la cuenta
            de dicho usuario lo más rápido posible. En este sentido, si tiene
            conocimiento del registro de algún usuario menor de 14 años, le
            rogamos nos lo haga saber a través de la dirección
            info@farmacias.tech
          </p>
        </div>
        <div>
          <h3 class="policy-title">3. Servicios.</h3>
          <p>
            FARMACTITUD S. L ofrece determinados servicios a los usuarios,
            sometidos a los términos y condiciones indicados en el presente
            sitio web, debiendo el usuario leer con atención las condiciones que
            se apliquen a cada servicio, que en ningún caso eximirá, salvo
            manifestación expresa en contrario, del cumplimiento de lo expresado
            en el Aviso Legal.
          </p>
        </div>
        <div>
          <h3 class="policy-title">4. Navegación.</h3>
          <p>
            FARMACTITUD S. L realiza los máximos esfuerzos para garantizar que
            la navegación a través de este sitio web se realice en las mejores
            condiciones.
          </p>
        </div>
        <div>
          <h3 class="policy-title">5. Exoneración de responsabilidades.</h3>
          <h4 class="sub-policy-title">5.1. Uso indebido.</h4>
          <p>
            FARMACTITUD S. L no se responsabiliza del mal uso que se realice de
            los contenidos de su página web, ni de los daños o perjuicios que se
            deriven del acceso o uso indebido de la información de dicha web.
          </p>
          <h4 class="sub-policy-title">5.2 Contenidos de terceros.</h4>
          <p>
            La web puede contener enlaces de hipertexto hacia otras páginas de
            la World Wide Web, que son completamente independientes de esta
            página web. FARMACTITUD S. L no se responsabiliza ni garantiza, en
            modo alguno, la exactitud, insuficiencia o autenticidad de la
            información suministrada por cualquier persona o entidad, física o
            jurídica, con o sin personalidad jurídica propia, a través de dichos
            enlaces de hipertexto.
          </p>
          <h4 class="sub-policy-title">
            5.3. Fallos tecnológicos, ajenos o propios.
          </h4>
          <p>
            FARMACTITUD S. L no se responsabiliza de los posibles daños o
            perjuicios que se pudieran derivar de interferencias, omisiones,
            interrupciones, virus informáticos, averías telefónicas o
            desconexiones en el funcionamiento operativo del sistema elegido
            (red telefónica, internet, etc.) motivadas por causas ajenas a ella;
            de retrasos o bloqueos en el uso del sistema elegido causados por
            deficiencias o sobrecargas de líneas telefónicas o sobrecargas en el
            Centro de Proceso de Datos, en los servidores de internet o en otros
            sistemas electrónicos, así como de daños que puedan ser causados por
            terceras personas mediante intromisiones ilegítimas en el sistema
            elegido, fuera del control del propietario. Asimismo, se exonera a
            FARMACTITUD S. L de responsabilidad ante cualquier daño o perjuicio
            que pudiera sufrir el usuario como consecuencia de errores, defectos
            u omisiones en la información facilitada, siempre que proceda de
            fuentes ajenas al mismo.
          </p>
          <h4 class="sub-policy-title">
            5.4. Intercambio o difusión de información.
          </h4>
          <p>
            FARMACTITUD S. L, declina toda responsabilidad que se derive del
            intercambio de información entre usuarios a través de su página web,
            correspondiendo la responsabilidad de las manifestaciones difundidas
            en su página, a quien las efectúe.
          </p>
        </div>
        <div>
          <h3 class="policy-title">6. Propiedad Intelectual e Industrial.</h3>
          <p>
            El Copyright del material contenido en esta web es propiedad de
            FARMACTITUD S. L. El acceso gratuito no implica otros derechos o
            licencias para reproducción y/o distribución sin la previa
            autorización expresa del propietario. Las marcas, logotipos,
            diseños, contenidos, programas u objetos similares que forman parte
            de esta web, están protegidos por leyes de propiedad industrial e
            intelectual y por tratados internacionales. La reproducción,
            distribución, manipulación o desensamblaje no autorizado de los
            códigos fuente, de los algoritmos incorporados o de las bases de
            datos, ya sea total o parcial, dará lugar a graves penalizaciones
            tanto civiles como penales y será objeto de cuantas acciones
            judiciales correspondan en Derecho.
          </p>
        </div>
        <div>
          <h3 class="policy-title">
            7. Política de Privacidad y Protección de Datos.
          </h3>
          <p>
            El usuario puede consultar la
            <a [routerLink]="['/privacy/privacy-policy']"
              >política de privacidad</a
            >
            en nuestra página web.
          </p>
        </div>
        <div>
          <h3 class="policy-title">
            8. Uso de Cookies y del fichero de actividad.
          </h3>
          <p>
            Esta Web utiliza cookies. Por eso, en cumplimiento de la Ley
            34/2002, de 11 de julio de Servicios de la Sociedad de Información y
            Comercio Electrónico, solicitamos tu aprobación la primera vez que
            entras en ella. El usuario puede consultar la
            <a [routerLink]="['/privacy/cookies-policy']"
              >política de cookies</a
            >
            en nuestra página web.
          </p>
        </div>
        <div>
          <h3 class="policy-title">9. Menores.</h3>
          <p>
            Los menores de 14 años no podrán usar los servicios disponibles a
            través de
            <a href="www.farmacias.tech">www.farmacias.tech</a>
            sin la previa autorización de sus padres, tutores o representantes
            legales, quienes serán responsables de todos los actos realizados a
            través de
            <a href="www.farmacias.tech">www.farmacias.tech</a>
            por los menores a su cargo.
          </p>
        </div>
        <div>
          <h3 class="policy-title">
            10. Legislación aplicable y Tribunales competentes.
          </h3>
          <p>
            Los términos y condiciones que rigen este sitio web, así como las
            relaciones que pudieran derivarse de él, están protegidas y quedan
            sujetas a la legislación española.
          </p>
          <p>
            Para la resolución de cualquier tipo de controversia, litigio o
            discrepancia que pudiera suscitarse entre el usuario y FARMACTITUD
            S. L, por el uso de este sitio web, se acuerda el sometimiento de
            las mismas a los Juzgados y Tribunales de la provincia de Almería.
            España.
          </p>
          <p>
            <a href="www.farmacias.tech">www.farmacias.tech.</a>
            Todos los derechos reservados.
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
