.color-blue {
    background-color: #3A56FF;
    position: relative;
}

.quienes {
    margin-left: auto;
    margin-right: auto;
}

.title-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    z-index: 10;
    position: relative;
}

.title1 {
    color: #FFFF;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    margin: 5px 0;
}

.logo-blanco {
    max-width: 100%;
    width: 160px;
}

.text1 {
    color: #FFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0;
    z-index: 10;
    position: relative;
}

.text1-promovemos {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-bottom: 15px;
}

.text1-bottom {
    padding-bottom: 70px;
    padding-top: 50px;
}

.trazado-down {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index:0;
    width: 250px;
}

.trazado-up {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index:0;
    width: 250px;
}    

@media (min-width: 1024px) {
    .title-part {
        flex-direction: row;
        padding-top: 60px;
        gap: 8px;
    }
    
    .title1 {
        font-size: 56px;
        line-height: 56px;
    }
    
    .logo-blanco {
        height: 76px;
        margin-top: 10px;
        width: auto;
    }
    
    .text1 {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        margin: 0 auto;
        width: 550px;
        z-index: 10;
        position: relative;
    }

    .text1-promovemos {
        font-size: 18px;
        text-align: center;
        width: 834px;
        height: 151px;
    }
    
    .text1-bottom {
        padding-bottom: 130px;
        padding-top: 20px;
    }
    
    .trazado-down {
        width: 450px;
    }
    
    .trazado-up {
        width: 450px;
    }    
}

.title {
    padding: 30px 0;
}

.promovemos {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.promovemos-bold {
    font-weight: 700;
}

.text-part {
    display: flex;
    flex-direction: column;
    padding: 18px 0;
}

.img-part {
    width: 100%;
}  

.equipo1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.equipo2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.title-equipo {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.equipo-bold {
    font-weight: 700;
}

.text-equipo {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
}

.title-big {
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    margin: 30px 30px 15px;
}

.socios {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}    

.img-equipo {
    width: calc(100% + 56px);
    margin: 0 -28px;
}

.block-5 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #3A56FF;
    padding: 15px 0 20px;
}

.title-marcas {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #3A56FF;
    padding: 18px 0;
    margin: 10px 0;
}

.partners-group {
    display: none;
}

.logo-marcas {
    display: none;
}

/* .carousel {
    padding: 24px 0;
        
} 
 */

.slide {
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-align: center;
}

.btns-app {
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
    width: fit-content;
    margin-bottom: 12px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px;
}
.btn-app {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #2B80FF;
    border: none;
    border-radius: 16px;
    padding: 8px;
    margin-bottom: 12px;
    cursor: pointer;
    width: fit-content;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .carousel {
        display: none;
    }
}
@media (max-width: 768px){
    .carousel-big {
        display: none;
    }
}


@media (min-width: 1024px) {
    .title {
        padding: 30px 0;
    }
    .promovemos {
        font-size: 36px;
        line-height: 42px;
        margin: 30px 0;
    }
    .text-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        padding: 18px 0;
    }
    
    .img-part {
        width: 50%;
    }  
    .equipo1 {
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
    }
    .equipo2 {
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
    }
    .title-equipo {
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
    }
    .equipo-bold {
        font-weight: 700;
    }
    .text-equipo {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }
    .title-big {
        font-weight: 700;
        font-size: 82px;
        line-height: 96px;
        margin: 30px 0 15px 0;
    }
    .img-equipo {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
    .block-5 {
        font-size: 36px;
        line-height: 42px;
        padding: 34px 0 34px 0;
    }  
    .title-marcas {
        font-size: 24px;
        line-height: 28px;
    }      
    .partners-group {
        display: flex;
        justify-content: center;
        gap: 36px;
        align-items: center;
        padding: 34px 0;
    }    
    .logo-marcas {
        display: flex;
        width: 100%;
        gap: 36px;
        justify-content: center;
        padding: 5px 0 34px 0;
    }  
    .carousel, .carousel-big {
        display: none;
    }    
    .logo {
        height: 45px;
    }
    .partners {
        height: 35px;
    }
    .btns-app {
        flex-direction: row;
        gap: 21px;
        justify-content: center;
    }   
    .btn-app {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 35px;
    }     
}

.space-after {
    padding-bottom: 14px;
}