<section class="wrapper">
    <div class="container-gradient-lightblue">
        <div class="width1600">
            <div class="ads">
                <div class="text-part">
                    <h1 class="title1"><span class="title1-visible">Tu marca visible,</span> llega a miles de clientes</h1>
                    <p class="text1">Aprovecha toda la potencia de nuestras plataformas y de las farmacias que trabajan con nosotros para llegar a tu público objetivo.</p>
                    <div class="btns-ads">
                        <button class="btn-ads" type="button"><a class="btn-ads" href="https://reuniones.clientify.com/#/Josepiquer/tech" target="_blank">Habla con un experto</a></button>
                    </div>
                </div>
                <div class="img-part">
                    <img class="img-ads" src="/assets/ads/marca_visible.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="wrapper">
        <div class="container">
            <div class="width1600">
                <div class="publicidad">
                    <div class="publicidad-title">
                        <div class="ads-title">
                            <span class="title-publicidad fino">Publicidad</span>
                            <span class="title-publicidad">B2B y B2C</span>
                        </div>
                    </div>
                    <hr class="mobile-no" style="margin-bottom: 24px;">
                </div>
                <div class="pasos">
                    <div class="img-part-pasos desktop-no">
                        <img class="img-pasos" src="/assets/ads/pediasure.png" alt="image">
                    </div>
                    <div class="text-part-pasos">
                        <h3 class="title2">Servicios publicitarios <span class="title-bold"><br> en nuestros portales</span></h3>
                        <p class="text1">Obten mayor visibilidad de tu marca en nuestros portales:<br><a class="bold" href="https://www.farmacias.com" target="_blank">Farmacias.com</a> y <a class="bold" href="https://www.farmacias.es" target="_blank">Farmacias.es</a></p>   
                        <ol class=" text1 ads-list">
                            <li class="service-list">Corner de Marca:<br>Espacio personal de tu marca en nuestros portales: Landing con Identidad visual propia de tu marca, solo tus productos y contenido personalizable</li>
                            <li class="service-list">Marca destacada en la Home de <a class="bold" href="https://www.farmacias.com" target="_blank">Farmacias.com</a><br>Presencia destacada de tu marca en la zona más visible de la Home de <a class="bold" href="https://www.farmacias.com" target="_blank">Farmacias.com</a></li>
                            <li class="service-list">Patrocinio de categoria<br>Destaca tu marca en las categorías más buscadas en tu segmento</li>
                            <li class="service-list">Patrocinio de palabra clave:<br>Se la marca destacada en las búsquedas clave de nuestro buscador</li>
                        </ol> 
                    </div>
                    <div class="img-part-pasos mobile-no">
                        <img class="img-pasos" src="/assets/ads/pediasure.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-color" style="padding: 20px 0;">
            <div class="width1600">
                <div class="pasos">
                    <div class="img-part-pasos">
                        <img class="img-pasos" src="/assets/ads/dgt_marketing.png" alt="image">
                    </div>
                    <div class="text-part-pasos">
                        <h3 class="title2">Campañas de<span class="title-bold"><br>Marketing Digital</span></h3>
                        <div class="no-padding">
                            <p class="text1 bold list">Llega a todos nuestros usuarios<br>Llega a todas nuestras farmacias</p>
                            <ul class="text1 campañas">
                                <li class="campañas-list">Campañas B2C: para impactar a todos los clientes finales de nuestras plataformas</li>
                                <li class="campañas-list">Campañas B2B: para llegar a más de 4000 farmacias</li>
                            </ul>       
                            <p>Emarking / Newsletters / Campañas de fidelización / Lanzamientos / Promociones</p>      
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="width1600">
                <div class="pasos">
                    <div class="img-part-pasos desktop-no">
                        <img class="img-pasos" src="/assets/ads/omnicanalidad.png" alt="image">
                    </div>
                    <div class="text-part-pasos">
                        <h3 class="title2">Campañas unificadas<span class="title-bold"><br>Omnicanalidad</span></h3>
                        <p class="text1">¿Te gustaría  hacer una campaña Digital y física de forma simultanea? Gracias a nuestra colaboración directa con cientos de farmacias, ahora puedes lanzar una campaña omnicanal y llegar a todos pacientes: Farmacia física + Farmacia Digital + Mail + RRSS + Whatsapp.</p>    
                    </div>
                    <div class="img-part-pasos mobile-no">
                        <img class="img-pasos" src="/assets/ads/omnicanalidad.png" alt="image">
                    </div>
                </div>   
                <div class="btns-app">
                    <button class="btn-app" type="button"><a class="btn-app" href="https://reuniones.clientify.com/#/Josepiquer/tech" target="_blank">Habla con un experto</a></button>
                </div>     
            </div>
        </div>
    </div>
</section>