<section class="wrapper">
    <div class="container-gradient-blue-orange">
        <div class="width1600">
            <div class="monitoreo">
                <div class="text-part">
                    <h1 class="title1"><span class="title1-tiempo">Analiza la evolución</span><span class="title1-monitoreo"> de tu marca</span> en tiempo real</h1>
                    <div class="text1">
                        <p class="">Basado en el análisis anónimo de Big data, puedes profundizar en el mercado y conocer cómo evoluciona tu marca en el canal farmacia cada día</p>
                        <p class="">Un paquete de servicios para que puedas potenciar tu marca de la mano de las farmacias.</p>    
                    </div>
                    <div class="btns-monitoreo">
                        <button class="btn-monitoreo" type="button"><a class="btn-monitoreo" href="https://reuniones.clientify.com/#/Josepiquer/tech" target="_blank">Habla con un experto</a></button>
                    </div>
                </div>
                <div class="img-part">
                    <img class="img-monitoreo" src="/assets/monitoriza/monitoreo.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="wrapper">
        <div class="container">
            <div class="width1600">
                <div class="tiempo-real">
                    <div class="tiempo-real-title">
                        <div class="tiempo-title">
                            <span class="title-tiempo fino">Información</span>
                            <span class="title-tiempo">en tiempo real</span>
                        </div>
                    </div>
                    <hr class="mobile-no" style="margin-bottom: 32px;">
                </div>
                <div class="pasos">
                    <div class="img-part-pasos desktop-no">
                        <img class="img-pasos" src="/assets/monitoriza/business.png" alt="image">
                    </div>
                    <div class="text-part-pasos">
                        <h3 class="title2">Business <span class="title-bold"><br>Intelligence</span></h3>
                        <p class="text1">Accede a paneles dinámicos customizables que te permiten conocer mejor la realidad de tus productos en el canal farmacia. Analiza tus precios online y físicos, cuotas de mercado por categoría, penetración de tus productos por zona, análisis de Sell-in y Sell-out, rotación...</p>    
                    </div>
                    <div class="img-part-pasos mobile-no">
                        <img class="img-pasos" src="/assets/monitoriza/business.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-color">
            <div class="width1600">
                <div class="pasos">
                    <div class="img-part-pasos">
                        <img class="img-pasos" src="/assets/monitoriza/transparencia.png" alt="image">
                    </div>
                    <div class="text-part-pasos">
                        <h3 class="title2">Transparencia<span class="title-bold"><br>en los datos</span></h3>
                        <p class="text1">Toda la información necesaria para optimizar estrategias y tomar mejores decisiones. Farmacias y laboratorios trabajando juntos con un objetivo común mejorar el servicio y llegar a los pacientes.</p>    
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="width1600">
                <div class="pasos">
                    <div class="img-part-pasos desktop-no">
                        <img class="img-pasos" src="/assets/monitoriza/trazabilidad.png" alt="image">
                    </div>
                    <div class="text-part-pasos">
                        <h3 class="title2">Trazabilidad<span class="title-bold"><br>total de tu marca</span></h3>
                        <p class="text1">Garantiza una experiencia uniforme en todos los puntos de venta, proteger su marca, impulsar la lealtad a la marca. Supervise la integridad de su política de precio con información procesable para realizar cambios y optimizar el recorrido del cliente.</p>    
                    </div>
                    <div class="img-part-pasos mobile-no">
                        <img class="img-pasos" src="/assets/monitoriza/trazabilidad.png" alt="image">
                    </div>
                </div>   
                <div class="btns-app">
                    <button class="btn-app" type="button"><a class="btn-app" href="https://reuniones.clientify.com/#/Josepiquer/tech" target="_blank">Habla con un experto</a></button>
                </div>     
            </div>
        </div>
    </div>
</section>